openapi: "3.0.0"
info:
  title: "Djehuty API"
  version: "1.0.0"
  description: "API documentation for Djehuty's public interface"

servers:
  - url: "https://data.4tu.nl"
    description: "Primary Djehuty API server"

paths:
  /v2/articles:
    get:
      summary: "Retrieve a list of articles"
      parameters:
        - in: query
          name: order
          schema:
            type: string
          description: "Field to use for sorting"
        - in : query
          name: order_direction
          schema:
            type: string
          description: "Sort direction. It can be either `asc` or `desc`"
        - in: query
          name: institution
          schema:
            type: string
          description: "Institution identifier to filter results"
        - in: query
          name: published_since
          schema:
            type: string
          description: "When set, datasets published before this timestamp are dropped from the results.The format is `YYYY-MM-DD`"
        - in : query
          name: limit
          schema:
            type: integer
          description: "Maximum number of results to return"
        # Add additional parameters as needed
      responses:
        "200":
          description: "A list of articles"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uuid:
                      type: string
                      description: "Unique identifier of the article"
                    title:
                      type: string
                      description: "Title of the article"
                    doi:
                      type: string
                      description: "DOI of the article"
                    published_date:
                      type: string
                      format: date-time
                      description: "Publication date"
                    # Add other fields as needed


